.card {
    display: flex;
    font-size: 12px;
    width: 90vw;
    margin: 8px 0;
}

.removing {
    opacity: .4;
}

.heart {
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    color: lightgreen;
}